.index {
  width: 90%;
  max-width: 80em;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  flex: 1;
}

.carousel a {
  text-decoration: none;
  color: inherit;
}

.filtersAndCarousel {
  display: flex;
}

.filters {
  min-width: 10em;
  flex: 0;
  margin-right: 1em;
}
