.progressBar {
  width: calc(100% - 2em);
  border-top: 2px solid var(--neutral-mid);
  height: 2px;
  position: relative;
  margin: 1em;
  margin-bottom: 3em;
}

.progressBar .progress {
  position: absolute;
  border-top: 2px solid var(--amazon-orange-dark);
  height: 2px;
  top: -2px;
}

.progressBar .cartIcon {
  position: absolute;
  width: 3em;
  bottom: -0.5em;
  margin-left: -1em;
}

.progressBar > div {
  position: absolute;
  top: 0;
  width: fit-content;
}

.progressBar > div > span {
  position: relative;
  left: -50%;
  top: 0.5em;
  font-weight: bold;
  color: var(--neutral-mid);
}

.progressBar > div.active > span {
  color: var(--amazon-orange-dark);
}

.address {
  left: 5%;
}

.shipping {
  left: 35%;
}

.payment {
  left: 65%;
}

.summary {
  left: 95%;
}
