.textField {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.25em;
}

.textField label {
  font-size: 0.8em;
  font-weight: bold;
  width: 10em;
}

.textField input {
  padding: 0.25em;
  outline: none;
  min-width: 30em;
}

.textField input:focus {
  border-color: var(--amazon-orange);
  border-style: solid;
}
