.address {
  width: 95%;
  max-width: 60em;
}

.address h2 {
  padding: 0 0 0.5em;
  border-bottom: 1px solid var(--border);
  margin-bottom: 1em;
}

.buttonGroup {
  margin-top: 1.5em;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
