.address {
  width: 90%;
  max-width: 80em;
}

.address h2 {
  padding: 0.25em;
  border-bottom: 2px dashed var(--neutral-mid);
}

.buttonGroup {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: end;
}
