.cart {
  width: 95%;
  max-width: 80em;
}

.cart h1 {
  margin: 0 0 1em;
}

.cart .contents {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
}

.cart .contents .items {
  flex: 1;
}

.cart .contents .cartAccept {
  flex: 0;
}
