.product {
  width: 90%;
  max-width: 80em;
}

.imageAndDetails {
  display: flex;
  /* min-width: 30em; */
  /* width: fit-content; */
}

.imageAndDetails .productImage {
  height: 10em;
}

.imageAndDetails .productDetailsAndInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid gray;
}

.imageAndDetails .productDetails {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: baseline;
  height: 10em;
  gap: 2em;
}

.imageAndDetails .productDetails .priceDetails {
  flex: 0;
}

.imageAndDetails .productDetails .priceDetails * {
  width: max-content;
}

.imageAndDetails .productDetails .descriptionAndStock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  height: 100%;
}

.imageAndDetails .productDetails > div {
  padding: 0.25em;
}

.productDetailsAndInfo .buttonGroup {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.25em;
}

.productDetailsAndInfo .shippingInfo {
  border-top: 1px solid gray;
  padding: 0 0.25em;
  font-size: 0.8em;
  text-align: right;
}
