.shipping {
  width: 90%;
  max-width: 80em;
}

.shipping h2 {
  padding: 0.25em;
  border-bottom: 2px dashed var(--neutral-mid);
}

.shipping .columns {
  width: 100%;
  display: flex;
  gap: 3em;
}

.shipping .columns > div {
  flex: 1;
}

.buttonGroup {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: end;
}
