.summary {
  width: 90%;
  max-width: 80em;
}

.summary .content {
  display: flex;
  gap: 0.75em;
  width: 100%;
}

.summary .content > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.shippingPaymentAndItems {
  gap: 0.75em;
}

.summary .content h2 {
  margin: 0;
  font-size: 1em;
}

.summary .content .priceDetails {
  flex: 0;
  flex-basis: fit-content;
}

.shippingAndPayment,
.items,
.priceDetails {
  background: var(--neutral-light);
  padding: 0.5em;
}

.items {
  flex: 1;
}

.priceDetails button {
  width: 100%;
  margin-bottom: 0.5em;
}

.priceDetails > div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1em;
}

.priceDetails .orderTotal {
  color: red;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1em;
}

.spaceAbove {
  margin-top: 1em;
}

.inline {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.shippingAndPayment {
  display: flex;
  gap: 2em;
}

.shippingAndPayment > div {
  flex: 1;
}

.paymentAndBilling {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.paymentAndBilling img {
  height: 1em;
}
