.card {
  display: flex;
  padding: 0.75em;
  gap: 1em;
}

.cardIcon {
  height: 3em;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}

.cardDetails > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardDetails > div > div {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.currencyDetails {
  flex-direction: column;
}

.cardType,
.cardName,
.cardExpiry {
  font-size: 1.1em;
}

.cardNumber {
  font-size: 0.9em;
}
