.priceDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25em;
}

.priceDetails .price {
  color: var(--price);
  font-size: 1.5em;
}

.discount {
  font-size: 0.8em;
  color: var(--text-muted);
  text-decoration: line-through;
}
