.cartAccept {
  background: var(--neutral-light);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cartAccept > div {
  width: max-content;
}

.cartAccept .subtotal {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  font-weight: bold;
}

.cartAccept .subtotal .price {
  color: red;
}
