.price {
  display: flex;
  align-items: flex-start;
}

.symbol {
  font-size: 0.65em;
  position: relative;
  top: 0.2rem;
  font-weight: 500;
}

.whole {
  font-size: 1.2em;
  font-weight: 600;
}

.fraction {
  font-size: 0.65em;
  position: relative;
  top: 0.2rem;
  font-weight: 500;
}
