.price {
  display: flex;
  align-items: flex-start;
}

.symbol {
  font-size: 0.7em;
  position: relative;
  top: 0.25rem;
}

.whole {
  font-size: 1.2em;
}

.fraction {
  font-size: 0.7em;
  position: relative;
  top: 0.25rem;
}
